body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

:root {
  --primary-color: #0a1118;
  --primary-color-highlight: #233d54;
  --bs-body-bg: #fbf0f6;
  --bs-body-font-family: "Montserrat", sans-serif;
}

.header {
  z-index: 2;
}

/*___________________________________________Navbar Start________________*/

#navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.navbar-nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0%;
    margin-left: 1.7rem;
    right: 0%;
    margin-right: 11rem;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.3); /* Lighter white underline */
  }
  .navbar-container {
    position: relative;
  }
  .navbar {
    z-index: 1000; /* Ensure the navbar stays above the image */
  }
  .nav-link {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .offcanvas {
    align-items: start;
  }
  .models-hero .container-fluid {
    background-image: url('images/low-poly-grid-haikei\ \(7\).svg');
  background-size: cover;
  background-position: center;
  }






.nav-link{
  text-align: start;
}
  .offcanvas-body .navbar-nav .nav-link {
    position: relative;
    text-decoration: none;
}




.offcanvas-body .navbar-nav {
  text-align: left;
}
.offcanvas-body{
  width: 100%;
  text-align: start;
}

.text-white{

}
.offcanvas-body .navbar-nav .nav-item {
  width: 100%; /* Make each nav item take up the full width */
}

.offcanvas-body .navbar-nav .nav-link {
  display: block;
  padding: 1rem; /* Adjust padding as needed */
  width: 100%;
}



/*___________________________________________Navbar End________________*/


/*___________________________________________Hero__________________*/
.hero {
  position: relative;
  background-color: black;
  overflow: hidden;
}
.hero__video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
}
.hero__overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.hero__content {
  z-index: 1;
}
.container-custom {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}
.hero__scroll-btn {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.hero__scroll-btn .bi-arrow-down {
  transition-delay: 0.8s;
  animation: bounce 1s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(10px);
  }
}




/*______________________________________________Models Page______________*/

.spacer1 {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cover-img {
  aspect-ratio: 16/9;
  height: auto;
  max-height: none;
  max-width: none;
  background-image: url(/images/bmw-models-cover.jpeg);
}
.spacer {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
.layer {
  background-image: url(images/low-poly-grid-haikei\ \(3\).svg);
}

.hero__models__img {
  object-fit: cover;
  width: 100%;
  height: 100%; /* 100% of the viewport height */
}

.container-fluid span {
  font-size: 5.6em;
  color: rgb(185, 185, 185);
  z-index: 1;
  position: absolute;
  margin-top: -30px;
  font-family: prompt,sans-serif;
  font-weight: 300;
}
.column-wrapper .img-fluid{
  position: relative;
  z-index: 2;
  transition: 1s;
}
.column-wrapper .img-fluid:hover{
  transform: scale(1.2);
}
.full-width-content{
  width: 100%;
  box-sizing: border-box;
}
.column-wrapper a{
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}
.column-wrapper a:hover{
  color: indigo;
}

.container-fluid{
  overflow-x: hidden;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply fade-in animation to image and text */
.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}



/*___________________________________Media Queries_________*/

@media (min-aspect-ratio: 16/9) {
    .back-video {
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .back-video {
      width: auto;
      height: 100%;
    }
  }
  @media (max-width: 576px) {
    
  }
  

  @media (max-width: 767px) {
    .bmw-logo {
        height: 36px;
        width: 36px;
      }
    .bmw-m-logo {
      height: 22px;
      width: 56px; /
    }
    
  }
@media (max-width: 991px) {
  .offcanvas {
    align-items: center;
  }
  .offcanvas-body .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 0.5px;
    background-color: white;
}
  .navbar ul{
    width: 100%;
  }
}
@media (max-width: 1200px) {

}
@media (min-width: 576px) and (max-width: 768px) {
  .container-fluid span{
    
  }
}
